/hotword/snowboy/snipsbridge.pyc
/hotword/snowboy/snowboydecoder_snips.pyc
/hotword/snowboy/snowboydetect.pyc
/python/__pycache__/jokes.cpython-35.pyc
/python/jokes.pyc
/skills/joke/__pycache__/jokes.cpython-35.pyc
/skills/SuperSonic/Debug/SuperSonic
/skills/SuperSonic/Debug/makefile
/skills/SuperSonic/Debug/objects.mk
/skills/SuperSonic/Debug/sources.mk
/skills/SuperSonic/Debug/src/Mosquitto.d
/skills/SuperSonic/Debug/src/Mosquitto.o
/skills/SuperSonic/Debug/src/RCSwitch.d
/skills/SuperSonic/Debug/src/RCSwitch.o
/skills/SuperSonic/Debug/src/SuperSonic.d
/skills/SuperSonic/Debug/src/SuperSonic.o
/skills/SuperSonic/Debug/src/TcpServer.d
/skills/SuperSonic/Debug/src/TcpServer.o
/skills/SuperSonic/Debug/src/VoiceRecognition.d
/skills/SuperSonic/Debug/src/sensors/DHT11Sensor.d
/skills/SuperSonic/Debug/src/sensors/DHT11Sensor.o
/skills/SuperSonic/Debug/src/sensors/UltraSonicSensor.d
/skills/SuperSonic/Debug/src/sensors/UltraSonicSensor.o
/skills/SuperSonic/Debug/src/sensors/UltraSonicSensorArray.d
/skills/SuperSonic/Debug/src/sensors/UltraSonicSensorArray.o
/skills/SuperSonic/Debug/src/sensors/subdir.mk
/skills/SuperSonic/Debug/src/subdir.mk
/skills/SuperSonic/Release/SuperSonic
/skills/SuperSonic/Release/makefile
/skills/SuperSonic/Release/objects.mk
/skills/SuperSonic/Release/sources.mk
/skills/SuperSonic/Release/src/SuperSonic.d
/skills/SuperSonic/Release/src/SuperSonic.o
/skills/SuperSonic/Release/src/TcpServer.d
/skills/SuperSonic/Release/src/TcpServer.o
/skills/SuperSonic/Release/src/UltraSonicSensor.d
/skills/SuperSonic/Release/src/UltraSonicSensor.o
/skills/SuperSonic/Release/src/UltraSonicSensorArray.d
/skills/SuperSonic/Release/src/UltraSonicSensorArray.o
/skills/SuperSonic/Release/src/subdir.mk
