/hotword/snowboy/snipsbridge.pyc
/hotword/snowboy/snowboydecoder_snips.pyc
/hotword/snowboy/snowboydetect.pyc
/python/__pycache__/jokes.cpython-35.pyc
/python/jokes.pyc
/skills/joke/__pycache__/jokes.cpython-35.pyc
